html,
body {
  height: 100%;
  background-color: #d3d0cb;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.primary-color {
  background-color: #C80421 !important;
  color: white !important;
}

.secondary-color {
  background-color: #D7C0D0 !important;
  color: #36382e !important;
}

.accent-color {
  background-color: #f96e46 !important;
  color: white !important;
}

.warning-color {
  background-color: #e2c044 !important;
  color: white !important;
}

.neutral-color {
  background-color: #d3d0cb !important;
  color: #36382e !important;
}

.dark-color {
  background-color: #36382e !important;
  color: white !important;
}